---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.site-title {
  font-weight: 400;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.1);

  @include media-query($on-laptop) {
    @include relative-font-size(2.1);
  }
}

.post-content {

  h2 {
    @include relative-font-size(1.8);

    @include media-query($on-laptop) {
      @include relative-font-size(1.1);
    }
  }

  h3 {
    @include relative-font-size(1.6);

    @include media-query($on-laptop) {
      @include relative-font-size(1.8);
    }
  }

  h4 {
    @include relative-font-size(1.4);

    @include media-query($on-laptop) {
      @include relative-font-size(1.4);
    }
  }

  h5 {
    @include relative-font-size(1.2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.2);
    }
  }

  h6 {
    @include relative-font-size(1.1);

    @include media-query($on-laptop) {
      @include relative-font-size(1.1);
    }
  }
}
